html, body {
  height: 100%;
  width: 100%;
}
/* @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Cairo:wght@200..1000&display=swap');

html, body {
  height: 100%;
  width: 100%;
  text-align: center;
}

h1, p, button {
  font-family: 'Outfit', sans-serif;
}

.note {
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding: 0;
}